<section class="badges" target="_blank">
  <a href="https://www.bbb.org/us/ne/lincoln/profile/roofing-contractors/roof-rite-llc-0714-300106005">
    <img src="/assets/img/badges/BBB.svg" />
  </a>
  <a href="https://www.iccsafe.org/" target="_blank">
    <img src="/assets/img/badges/icc.svg" />
  </a>
  <a href="https://www.bravarooftile.com/" target="_blank">
    <img src="/assets/img/badges/Brava.svg" />
  </a>
  <a href="https://www.gaf.com/en-us/roofing-materials/residential-roofing-materials" target="_blank">
    <img src="/assets/img/badges/GAF3.svg" />
  </a>
  <a href="https://www.gaf.com/en-us/roofing-materials/commercial-roofing-materials" target="_blank">
    <img src="/assets/img/badges/GAFCom2.svg" />
  </a>
  <a href="https://www.lomanco.com/" target="_blank">
    <img src="/assets/img/badges/Lomanco.svg" />
  </a>
  <a href="https://www.malarkeyroofing.com/" target="_blank">
    <img src="/assets/img/badges/Malarkey.svg" />
  </a>
  <a href="https://www.jameshardie.com/" target="_blank">
    <img src="/assets/img/badges/JH.svg" />
  </a>
  <a href="https://www.mrca.org/aws/MRCA/pt/sp/home_page" target="_blank">
    <img src="/assets/img/badges/MRCA.svg" />
  </a>
  <a href="https://naahq.org/" target="_blank">
    <img src="/assets/img/badges/NAA.svg" />
  </a>
</section>
