<form action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="896b17aa-4103-4d7f-b3c1-a162ab64a28d">
  <p>
    Name<br>
    <input type="text" name="name" required />
  </p>
  <p>
    Email or phone<br>
    <input type="text" name="email_or_phone" required />
  </p>
  <p>
    Comment or Message<br>
    <textarea name="message" required></textarea>
  </p>
  <p>
    <button class="button">Contact us</button>
  </p>
</form>
