<form action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="2bbbad10-f42a-420c-adcc-cc894d3f0e8b">
  <p>
    Name<br>
    <input type="text" name="name" required />
  </p>
  <p>
    Email or phone<br>
    <input type="text" name="email_or_phone" required />
  </p>
  <p>
    Comment or Message<br>
    <textarea name="message" required></textarea>
  </p>
  <p>
    <button class="button">Contact us</button>
  </p>
</form>
