<footer>
  <div>
    <address>
      <p>
        Roof Rite Exteriors<br>
        4608 Pierce Drive<br>
        Lincoln, NE 68504
      </p>
      <p>
        ✉️ info@roofriteexteriors.com<br>
        📞 402-430-9538<br>
      </p>
    </address>
    <p>
      Icons attribution: WebTechOps LLP<br>
      Website &copy; 2025 Roof Rite Exteriors
    </p>
  </div>
</footer>
