<section class="gallery">
  <h2>Photo gallery</h2>
  <div class="galleryscroll">
    <img src="/assets/img/DJI_0016.jpg" />
    <img src="/assets/img/IMG_0044.jpg" />
    <img src="/assets/img/DJI_0165.jpg" />
    <img src="/assets/img/DJI_0171-1.jpg" />
    <img src="/assets/img/DJI_0175.jpg" />
    <img src="/assets/img/DJI_0322_1.jpg" />
    <img src="/assets/img/DJI_0477.jpg" />
    <img src="/assets/img/IMG_1620.jpg" />
  </div>
</section>
