<header class="logo-header">
  <div>
    <a href="/">
      <img id="logo" src="/assets/img/logo.png" />
    </a>
  </div>
  <div id="contact">
    &#128222; 402-430-9538
    <span class="button">Contact us</span>
  </div>
  <div id="hamburger">
    <a href="javascript:void(0);" class="icon" onclick="hamburgerHelper()">
      <img src="/assets/img/hamburger.svg" />
    </a>
  </div>
  <script>
    function hamburgerHelper() {
      const nav = document.getElementById("mainnav");
      const ham = document.getElementById("hamburger");
      if (nav.classList.contains('hiddennav')) {
        nav.classList.remove('hiddennav')
        ham.classList.add('hamhlight')
      } else {
        nav.classList.add('hiddennav')
        ham.classList.remove('hamhlight')
      }
    } 
  </script>
</header>
