<section class="locations">
  <h2>Our locations</h2>
  <div class="locationsrow">
    <img src="/assets/img/us.svg" />
    <div class="locationslist">
      <p>
        <strong>States we have done the most work in:</strong><br>
        Nebraska, Kansas, Missouri, Colorado, Iowa, Utah, Idaho, Washington, Oregon
      </p>
      <p>
        <strong>States we also operate in:</strong><br>
        California, Arizona, Nevada, Montana, Wyoming, North Dakota, South Dakota, Oklahoma, Texas, Arkansas, Tennessee, Kentucky, Indiana, Illinois, Minnesota, Ohio, South Carolina, Georgia, Florida
      </p>
    </div>
  </div>
</section>
