---
title: Template title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      Header text
    </header>
    <nav>
      Nav text
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      Footer text
    </footer>
  </body>
</html>
