---
title: Template title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Public+Sans" rel="stylesheet">

    <title>{{ title }}</title>
  </head>
  <body>
    <header class="logo-header">
      <div>
        <img id="logo" src="assets/img/logo.png" />
      </div>
      <div id="contact">
        &#128222; 402-430-9538
        <span class="button">Contact us</span>
      </div>
    </header>
    <nav>
      <ul>
        <li>About Us</li>
        <li>Residential</li>
        <li>Commercial</li>
        <li>Contact Us</li>
        <li>Request a Quote</li>
      </ul>
    </nav>

    <video playsinline autoplay muted loop poster="assets/img/hero.png" id="bgvid">
      <source src="assets/vid/hero.webm" type="video/webm">
    </video>
    <header class="viewport-header">
      <h1>
        The trusted source for all your exterior needs
      </h1>
    </header>

    <section class="motto">
      <p>We are who we are because of our wonderful staff and the fine people we serve. As such, we commit ourselves to the education of our employees, and to a smooth and thorough workflow for all our customers. We're told it shows, too.</p>
    </section>

    <main>
      {{ content | safe }}
    </main>
    <footer>
      <div class="block">
        Footer text
      </div>
    </footer>
  </body>
</html>
