<div class="dropdown">
  <button class="dropbtn">About Us</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="#">AA2</a>
  </div>
</div> 
<div class="dropdown">
  <button class="dropbtn">Residential</button>
  <div class="dropdown-content">
    <a href="/residential/asphalt_shingles">Asphalt shingles</a>
    <a href="/residential/low_slope">Commercial and Residential Low Slope</a>
    <a href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">Commercial</button>
  <div class="dropdown-content">
    <a href="#">C1</a>
    <a href="#">C2</a>
    <a href="#">C3</a>
  </div>
</div>
