<nav id="mainnav" class="hiddennav">
  <div class="dropdown">
    <button class="dropbtn">About Us</button>
    <div class="dropdown-content">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/about/our_company">Our Company</a>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn">Residential</button>
    <div class="dropdown-content">
      <a href="/residential/asphalt_shingles">Asphalt shingles</a>
      <a href="/residential/low_slope">Low Slope Membrane</a>
      <a href="/residential/cedar_shakes_and_shingles">Cedar Shakes and Shingles</a>
      <a href="/residential/composite_roofing">Composite Roofing</a>
      <a href="/residential/metal_roofing">Metal Roofing</a>
      <a href="/residential/clean_jobsite_promise">Our Clean Jobsite Promise</a>
      <a href="/residential/gutters">Gutters</a>
      <a href="/residential/gutter_guards">Gutter Guards</a>
      <a href="/residential/siding">Siding</a>
      <a href="/residential/windows">Windows</a>
      <a href="/residential/exterior_needs">All Your Exterior Needs</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Commercial</button>
    <div class="dropdown-content">
      <a href="/commercial/storefront_and_enterprise">Storefront & Enterprise</a>
      <a href="/commercial/industrial_exteriors">Industrial Exteriors</a>
      <a href="/commercial/food_and_health_facilities">Food & Health Facilities</a>
      <a href="/commercial/tpo">TPO</a>
      <a href="/commercial/epdm">EPDM</a>
      <a href="/commercial/pvc">PVC</a>
      <a href="/commercial/elastomeric">Elastomeric Coatings</a>
      <a href="/commercial/metal_roofing">Metal Roofing</a>
      <a href="/commercial/historical_and_religious">Historical Buildings & Religious Structures</a>
      <a href="/commercial/multi_family_exteriors">Multi-Family Exteriors</a>
      <a href="/commercial/roof_maintenance_program">Roofing Maintenance Program</a>
    </div>
  </div>
</nav>
