---
title: Template title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Public+Sans" rel="stylesheet">

    <title>{{ title }}</title>
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="/assets/img/logo.png" />
  </head>
  <body>
    
    {% include "header.njk" %}

    {% include "nav.njk" %}

    <main>
      <div class="maintext">
        {{ content | safe }}
      </div>
    </main>
    <footer>
      <div class="block">
        Footer text
      </div>
    </footer>
  </body>
</html>
