---
title: Template title
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Public+Sans" rel="stylesheet">

    <title>{{ title }}</title>
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="/assets/img/logo.png" />
  </head>
  <body>
    <header class="logo-header">
      <div>
        <img id="logo" src="/assets/img/logo.png" />
      </div>
      <div id="contact">
        &#128222; 402-430-9538
        <span class="button">Contact us</span>
      </div>
    </header>
    <nav>
      <ul>
        <li>About Us</li>
        <li>Residential</li>
          <li><a href="/residential/asphalt_shingles">Asphalt shingles</a></li>
          <li><a href="/residential/low_slope">Commercial and Residential Low Slope</a></li>
        <li>Commercial</li>
        <li>Contact Us</li>
        <li>Request a Quote</li>
      </ul>
    </nav>

    <main>
      <div class="maintext">
        {{ content | safe }}
      </div>
    </main>
    <footer>
      <div class="block">
        Footer text
      </div>
    </footer>
  </body>
</html>
