<section class="quotes">
  <div class="quote-container">
    <blockquote>
      Service was spectacular, same-day siding repair after a storm caused damage. They also let us know that they had recently redone the roof, and it is still under warranty . . . They are our first call for any future repairs.
    </blockquote>
    <p>⭐⭐⭐⭐⭐ Tim</p>

    <blockquote>
      Josh and team did great work with new roof and siding. Also were very helpful with handling the insurance end of it . . .
    </blockquote>
    <p>⭐⭐⭐⭐⭐ Kyle S.</p>

    <blockquote>
      Excellent job, great communication and FAST service. We worked with Mike throughout the entire process who was a dream to work with during a hectic time of buying/selling a house . . . Would absolutely recommend Roof Rite!!
    </blockquote>
    <p>⭐⭐⭐⭐⭐ Jordan M.</p>

    <blockquote>
      We had a leak in our new home that was 8 months out of warranty so we called Roof Rite. JP was great. He worked with our busy schedules and even made time to come out on a Sunday!
    </blockquote>
    <p>⭐⭐⭐⭐⭐ Jason T.</p>

    <blockquote>
      Myles and his team did the job quickly and with great customer service!! He followed up as soon as the job was completed to make sure I was happy!! Great job!!
    </blockquote>
    <p>⭐⭐⭐⭐⭐ Beth H.</p>
  </div>
</section>
